@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Global Buttons Pointer Policy */
button,
[role="button"],
input[type="submit"],
input[type="button"] {
    cursor: pointer !important;
}

/* Explicitly ignore pointing on disabled instances for UX */
button:disabled,
button[disabled] {
    cursor: not-allowed !important;
}